<%- include('header') %>
<form action="/new" method="POST">
  <input type="text" name="text" placeholder="Message" />
  <input type="text" name="user" placeholder="Name" />
  <button type="submit" class="btn">Send</button>
</form>
<%- include('footer') %>
