<%- include('header') %>
<form method="POST" action="/new">
  <input type="text" name="messageUser" placeholder="Name" />
  <input type="text" name="messageText" placeholder="Message" />
  <button type="submit" class="btn">Send</button>
</form>
<%- include('footer') %>
